@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Lausanne';
    src: url('assets\\Lausanne-Regular.woff2') format('woff2');
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url("assets\\background.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: lighten;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

section {
  width: 100vw;
  height: 100vh;
}

.inset {
  background-color: rgb(70, 70, 70);
  padding: 10px;
}

@keyframes typing {
  0% {content: ""}
  20% { content: "X"}
  45% {content: "XR"}
  90% {content: "XRP"}
  100% {content: "XRPT"}
}

.logo {
    font-size: 9vw;
    font-weight: bold;
    color: #fff;
    font-family: 'Gasoek One';
    --caret: white;
    animation-delay: 3s;
}

.logo::before{  
  content:"";
  animation: typing 1.5s forwards;
}

@keyframes blink {
  0%, 40%, 80% { opacity: 1; }
  10%, 50%, 100% { opacity: 0; }
}

.logo::after{
  content: "";
  border-right: 0.4ch solid var(--caret);
  animation: blink 3.6s step-end forwards;
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    height: 100%;
    padding: 0 5%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Lausanne";
    font-weight: 500;   
    font-size: 1.3vw;
    color: #ffffff;
    max-width: 50%;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.description {
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
  padding: 26% 12%;
}

.text .subtext {
    color: #ffffffa0;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.videos {
    animation: 1.7s ease-out 0s 1 slideInFromRight;
    width: 53%;
    height: 70%; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    padding-left: 2%;
    padding-right: 15%;
    box-sizing: border-box;
    margin: auto -15%;
    border-radius: 5px;
    transition: 0.5s ease;
}

.videos::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 90%;
  z-index: -1;
  background-color: rgba(80, 80, 80, 0.821); 
  transition: transform 0.5s ease;
  opacity: 0.8;
}

.videos:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.videos:hover::before {
  transform: scaleY(3);
  transform: scaleX(0.9);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}

.slider-container {
  width: 100vw;
  max-width: 800px;
  max-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: 60%;
  height: 100vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 1.1s ease, opacity 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


video {
  width: 20vw;
  height: 65vh; 
  object-fit: cover;
  border-radius: 7px;
  display: block;
}


#item-1:checked ~ .cards #video-1,
#item-2:checked ~ .cards #video-2,
#item-3:checked ~ .cards #video-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #video-2,
#item-2:checked ~ .cards #video-3,
#item-3:checked ~ .cards #video-1 {
  transform: translateX(30%) scale(0.75);
  opacity: 0.5;
  z-index: 0;
}

#item-1:checked ~ .cards #video-3,
#item-2:checked ~ .cards #video-1,
#item-3:checked ~ .cards #video-2 {
  transform: translateX(-30%) scale(0.75);
  opacity: 0.5;
  z-index: 0;
}

.title {
  color: white;
  font-family: Sulphur Point;
  font-size: 3.5rem;
  letter-spacing: .3rem;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-30px);
  }
  to {
    opacity: 0.55;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    opacity: 0.55;
    transform: translateX(-50%) translateY(0);
  }
  50% {
    opacity: 0.55;
    transform: translateX(-50%) translateY(-9px);
  }
}
.scroll-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.734);
  opacity: 0;
  animation: slideInFromTop 1s ease-out forwards;
  animation-delay: 3s;
  z-index: 10;
  cursor: pointer;
}


.section2 {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.712);
  background-blend-mode: lighten;
  padding: 3%;
}


.options{
  font-family: Sulphur Point;
  color: rgba(255, 255, 255, 0.899);
  font-size: 2rem;
}

form {
  padding-left: 1vw;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* spacing between columns */
}

.form-left,
.form-right {
  flex: 1 1 45%;
  min-width: 300px;
}

.flash-message {
  padding: 0.3em;
  font-family: Sulphur Point;
  font-size: 1.5rem;
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}


input[type="text"] {
  width: 35%;
  padding: 0.5rem;
  font-family: Lausanne;
  font-size: 1rem;
  background-color: #aaaaaa57;
  border: 2px solid #717171;
  border-radius: 6px;
  transition: 0.25s ease;
  box-sizing: border-box;
}

input[type="text"]:focus {
  background-color: #d8d8d8;
  border-color: #7b7b7b;
  outline: none;
}

input::placeholder {
  color: #7b7b7b;
  font-style: italic;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1em;
  font-family: Sulphur Point; 
  color: #dad8d8;
  background-color: #5a5a5a98;
  border: 2px solid #717171;
  display: inline-block;
  padding: 15px 10px;
  margin-top: 10px;;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #d8d8d8;
  border-color: #7b7b7b;
  color:rgba(0, 0, 0, 0.856);
}


button {
  width: 65%;
  padding: 1.5rem;
  margin: 5% 0;
  margin-right: 0;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-family: Sulphur Point;
  border: 2px solid rgba(244, 241, 241, 0.608);
  background-color: #99999990;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color: #9191917a;
}

button:active {
  background-color: #4a4a4a76;
}

.dropdown {
  padding: 0.4rem 2rem; 
  background-color: #5a58587f;
  color: rgba(244, 241, 241, 0.608);
  border-radius: 7px;
  font-family: Sulphur Point;
  font-weight: 1000;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  transition: 0.3s;
}
option {
  background-color: #5a5858ba;
}


.images{
  padding: 1rem 2.5rem;
}

.images img {
  border-radius: 15px;
  display: none;
}

.images[data-selected="1"] img[data-image="1"],
.images[data-selected="2"] img[data-image="2"],
.images[data-selected="3"] img[data-image="3"],
.images[data-selected="4"] img[data-image="4"] {
  display: block;
}
