@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

@font-face {
    font-family: 'Lausanne';
    src: url('\assets\Lausanne-Regular.otf') format('otf');
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url("assets\\background.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: lighten;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

section {
  width: 100vw;
  height: 100vh;
}

.inset {
  background-color: rgb(70, 70, 70);
  padding: 10px;
}

@keyframes typing {
  0% {content: ""}
  20% { content: "X"}
  45% {content: "XR"}
  90% {content: "XRP"}
  100% {content: "XRPT"}
}

.logo {
    font-size: 9vw;
    font-weight: bold;
    color: #fff;
    font-family: 'Gasoek One';
    --caret: white;
    animation-delay: 3s;
}

.logo::before{  
  content:"";
  animation: typing 1.5s forwards;
}

@keyframes blink {
  0%, 40%, 80% { opacity: 1; }
  10%, 50%, 100% { opacity: 0; }
}

.logo::after{
  content: "";
  border-right: 0.4ch solid var(--caret);
  animation: blink 3.6s step-end forwards;
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    height: 100%;
    padding: 0 5%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.text {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Lausanne";
    font-weight: 500;
    font-size: 1.5vw;
    color: #ffffff;
    max-width: 50%;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.description {
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
  padding: 26% 12%;
}

.text .subtext {
    color: #ffffffa0;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.videos {
    animation: 1.7s ease-out 0s 1 slideInFromRight;
    width: 53%;
    height: 70%; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    padding-left: 2%;
    padding-right: 15%;
    box-sizing: border-box;
    margin: auto -15%;
    border-radius: 5px;
    transition: 0.5s ease;
    opacity: 80%;
}

.videos::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 90%;
  z-index: -1;
  background-color: rgba(80, 80, 80, 0.821); 
  transition: transform 0.5s ease;
  opacity: 0.8;
}

.videos:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.videos:hover::before {
  transform: scaleY(3);
  transform: scaleX(0.9);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}

.slider-container {
  width: 100vw;
  max-width: 800px;
  max-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: 60%;
  height: 100vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 1.1s ease, opacity 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


video {
  width: 100vw;
  height: 100vh; 
  object-fit: cover;
  border-radius: 7px;
  display: block;
}


#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translateX(30%) scale(0.75);
  opacity: 0.5;
  z-index: 0;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translateX(-30%) scale(0.75);
  opacity: 0.5;
  z-index: 0;
}
