<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static\style.css">
    <link rel="stylesheet" href="static\full-page-scroll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Page</title>
  </head>
  <body>
    <div id="main" class="scroll-container">
      <section class = "section1">
        <div class="frame">
          <div class="text">
            <div class="logo"></div>
            <div class="description">
              <p>Concise, impactful clips optimised for engagement.</p>
              <p class="subtext">Transform long videos into engaging short form content, with customisations every step of the way.</p>
            </div>
          </div>
          <div class="videos">
            <div class="slider-container">
              <input type="radio" name="slider" id="item-1" checked>
              <input type="radio" name="slider" id="item-2">
              <input type="radio" name="slider" id="item-3">
              <div class="cards">
                <label class="card" for="item-1" id="video-1">
                  <video autoplay loop muted>
                    <source src="static\assets\video.mp4" type="video/mp4">
                  </video>
                </label>
                <label class="card" for="item-2" id="video-2">
                  <video autoplay loop muted>
                    <source src="static\assets\video.mp4" type="video/mp4">
                  </video>
                </label>
                <label class="card" for="item-3" id="video-3">
                  <video autoplay loop muted>
                    <source src="static\assets\video.mp4" type="video/mp4">
                  </video>
                </label>
              </div>
            </div>
          </div>
          <div id="scroll-arrow" class="scroll-arrow">
            <span>&#x25BC;</span> <!-- Unicode down arrow -->
          </div>
        </div>
        
      </section>

      <section class = "section2">
        <h1 class="title">Convert your video</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" enctype="multipart/form-data">
          <div class='form-wrapper'>
            <div class="form-left">
              <label for="video_file" class="options">Upload video OR enter Youtube link:</label><br>
              <input type="text" name="youtube_url" placeholder="Youtube link"><br>
              <input type="file" name="file" id="file" class="inputfile" accept="video/*"/>
              <label for="file"><i class="fa fa-upload" aria-hidden="true"></i><span> Choose your video</span></label>
              <br><br><br>
              
              <label for="clip_length" class="options">Clip length (seconds):</label><br>
              <select name="clip_length" class="dropdown">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
                <option value="75">75</option>
                <option value="90">90</option>
              </select>
              <br><br><br>

              <label for="num_clips" class="options">Number of Clips:</label><br>
              <select name="num_clips" class="dropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>
            
            <div class="form-right">
              <label for="caption_style" class="options">Caption style:</label><br>
              <select id="selectbox" name="caption_style" class="dropdown" data-selected="1">
                <option value="1">Plain</option>
                <option value="2">Italic</option>
                <option value="3">Background</option>
                <option value="4">Background + Italic</option>
              </select>
              
              <div class="images" data-selected="">
                <img src="static\assets\caption-plain.png" data-image="1"/>
                <img src="static\assets\caption-italic.png" data-image="2"/>
                <img src="static\assets\caption-background-plain.png" data-image="3"/>
                <img src="static\assets\caption-background-italic.png" data-image="4"/>
              </div>

              <br><br>

              <label for="filter_adjustments" class="options">Filters/adjstments:</label><br>
              <select name="filter_adjustments" class="dropdown">
                <option value="flip">Flip video</option>
                <option value="contrast">Increase contrast</option>
                <option value="multiply">Multiply color / brightness</option>
                <option value="grain">Give grainy / line artifacts</option>
              </select>

              <br><br>

              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </section>
    </div>
    <script src="static\full-page-scroll.js"></script>
    <script src="static\scripts.js"></script>
  </body>
</html>
